---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
    <div class="post-tag">
      <ul>
        {% for tag in page.tags %}
        <li>
          <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
            <span class="tag">{{ tag }}</span>
          </a>
        </li>
        {% unless forloop.last %}{% endunless %}
        {% endfor %}
      </ul>
    </div>
  </header>

  <!--
  <div id="post-roc">
    <p>文章目录</p><div id="triangle"></div>
    <div id="list"></div>
  </div>
  -->

  <div id="post-content" class="post-content" itemprop="articleBody">
    {% include toc.html html=content %}
    {{ content }}
  </div>

  <div class="page-navigation">
    {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url | relative_url}}">&larr; {{page.previous.title}}</a>
    {% endif %}

    {% if page.next.url %}
      <a class="next" href="{{page.next.url | relative_url}}">{{page.next.title}} &rarr;</a>
    {% endif %}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
